.sidebar {
    width: 250px;
    background-color: #141010;
    color: #eb1452;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: -20px;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.sidebar-header svg {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
}

.sidebar-nav {
    list-style: none;
    margin-top: 60px;
}

.sidebar-nav li {
    margin-bottom: 20px;
}

.sidebar-nav a {
    color: #eb1452;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.sidebar-nav a:hover {
    background-color: #eb1452;
    color: #000;
    transform: translateX(10px);
}
